.navBarTop {
  font-family: "Arial Black", serif;
  background-color: teal;
}

.center {
  margin-top: 9.5em;
  width: 300px;
  background-color: snow;
  padding: 15px;
}

.btnLeft {
  display: flex;
  margin-left: auto;
}
